## Data And Packages Loading

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Loading Data
data = pd.read_csv('XYZCorp_LendingData.txt', sep = '\t', na_values = None)

C:\Users\HP\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (17,45,53) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.head(3)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,default_ind
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [4]:
# Method for getting NA values
drop_columns = []

def get_na(data): 
    null_vars = data.isnull().sum()
    null_vars = null_vars[null_vars > 0]
    if(len(null_vars) > 0):
        null_vars.sort_values(inplace=True)
        print(str(null_vars/data.shape[0] * 100))
        # null_vars.plot.bar(figsize=(15,4))
    else:
        print("No column have NA values")

In [5]:
get_na(data)

title                           0.003855
last_credit_pull_d              0.005841
collections_12_mths_ex_med      0.006542
revol_util                      0.052105
last_pymnt_d                    1.035318
emp_length                      5.030673
emp_title                       5.776261
total_rev_hi_lim                7.863953
tot_cur_bal                     7.863953
tot_coll_amt                    7.863953
next_pymnt_d                   29.553757
mths_since_last_delinq         51.381767
mths_since_last_major_derog    75.099682
mths_since_last_record         84.674211
desc                           85.769111
inq_fi                         98.447607
all_util                       98.447607
max_bal_bc                     98.447607
open_rv_24m                    98.447607
open_rv_12m                    98.447607
total_bal_il                   98.447607
open_il_24m                    98.447607
open_il_12m                    98.447607
open_il_6m                     98.447607
open_acc_6m                    98.447607
total_cu_tl                    98.447607
inq_last_12m                   98.447607
mths_since_rcnt_il             98.488964
il_util                        98.643759
verification_status_joint      99.948363
annual_inc_joint               99.948363
dti_joint                      99.948596
dtype: float64

In [9]:
## Removing Columns those are having more than 70% missing data
drop_columns_list = ['mths_since_last_major_derog', 'mths_since_last_record','desc',
                     'inq_fi','all_util','max_bal_bc','open_rv_24m','open_rv_12m','total_bal_il','open_il_24m',
                     'open_il_12m','open_il_6m','open_acc_6m','total_cu_tl','inq_last_12m','mths_since_rcnt_il',
                     'il_util','verification_status_joint','annual_inc_joint','dti_joint']

In [10]:
len(drop_columns_list)

20

In [11]:
# Dropping Columns those having more than 70% NA Values
print('Before Dropping Shape of Data :{}'.format(data.shape))
data.drop(drop_columns_list, inplace = True, axis = 1)
print('After Dropping Shape of Data :{}'.format(data.shape))

Before Dropping Shape of Data :(855969, 73)
After Dropping Shape of Data :(855969, 53)

In [12]:
# Dropping ['id', 'member_id' , zip_code] as it will not play important role into model building process.
print('Before Dropping Shape of Data :{}'.format(data.shape))
data.drop(['id', 'member_id', 'zip_code'],inplace = True, axis = 1)
print('After Dropping Shape of Data :{}'.format(data.shape))

Before Dropping Shape of Data :(855969, 53)
After Dropping Shape of Data :(855969, 50)

In [13]:
# Reviewing policy_code Column
data.policy_code.head()

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: policy_code, dtype: float64

In [14]:
data.policy_code.value_counts()

1.0    855969
Name: policy_code, dtype: int64

In [15]:
# We are dropping policy_code as it only have one label for entire dataset that will lead to bias into model
data.drop('policy_code', inplace = True, axis = 1)

In [16]:
#data.shape

(855969, 49)

In [18]:
# emp_title - The job title supplied by the Borrower when applying for the loan.
data.emp_title.head()

0                         NaN
1                       Ryder
2                         NaN
3         AIR RESOURCES BOARD
4    University Medical Group
Name: emp_title, dtype: object

In [19]:
data.emp_title.value_counts()

Teacher                                   12965
Manager                                   10821
Registered Nurse                           5341
RN                                         5182
Owner                                      5157
Supervisor                                 4792
Sales                                      4051
Project Manager                            3856
Driver                                     3417
Office Manager                             3404
Director                                   3067
General Manager                            3060
manager                                    2994
teacher                                    2820
owner                                      2727
Engineer                                   2574
President                                  2478
driver                                     2319
Vice President                             2283
Attorney                                   2074
Operations Manager                         1995
Accountant                                 1978
Administrative Assistant                   1943
Sales Manager                              1780
Police Officer                             1668
Account Manager                            1665
sales                                      1651
supervisor                                 1611
Executive Assistant                        1549
Analyst                                    1494
                                          ...
Self Emp                                      1
Bernalillo County Payroll Office              1
Dept. of Juvenile Justice                     1
Jive Software                                 1
PEST SPECIALIST                               1
Personal coach                                1
Gloucester City Baord of Education            1
Core Handle                                   1
Salestrader                                   1
Noble's PGM                                   1
fabrication set up 2                          1
Medical center of central Georgia             1
Furst Staffing/Hootman Dental Lab             1
police r                                      1
SRP                                           1
Associative Director Surgical Services        1
sr banker                                     1
Yearbook Sales Manager                        1
PURCHASING MGR/SHIPPING MGR                   1
Gentex Corporation                            1
ALARIS COMPANIES                              1
Senior Store Invemtory Planner                1
Evidence Control Officer                      1
Mm Mm Pizza Inc                               1
Admissions advisor                            1
Bendix Spicer                                 1
Texas Press                                   1
EHR Optimization Soecialist                   1
AI Engineers, Inc                             1
PPDi                                          1
Name: emp_title, Length: 290912, dtype: int64

In [20]:
# Dropping emp_title as it is having 290912 lables and it will not impact on model.
data.drop('emp_title',inplace = True, axis = 1)

In [21]:
# Treatment for emp_length - Employment length in years.
data.emp_length.head()

0    10+ years
1     < 1 year
2    10+ years
3    10+ years
4       1 year
Name: emp_length, dtype: object

In [22]:
data.emp_length = data.emp_length.str.replace(r'\D', '')
data.emp_length.head()

0    10
1     1
2    10
3    10
4     1
Name: emp_length, dtype: object

In [23]:
data.emp_length.value_counts()

10    282090
1     122452
2      75986
3      67392
5      53812
4      50643
7      43204
8      42421
6      41446
9      33462
Name: emp_length, dtype: int64

In [24]:
data.emp_length.isna().sum()

43061

In [25]:
# Filling NA values
data.emp_length.fillna(10, inplace = True)
# Change Datatype of variable to numeric as it is represanting no of years
data.emp_length = data.emp_length.astype('int32')
data.emp_length.dtype

dtype('int32')

In [26]:
# Treatment for term Variable - The number of payments on the loan. Values are in months and can be either 36 or 60.
data.term.head()

0     36 months
1     60 months
2     36 months
3     36 months
4     60 months
Name: term, dtype: object

In [27]:
# Removing 'months' from string and change datatype to Numerical as it is represanting no of months
data.term = data.term.str.replace('months',"").astype('int32')

In [28]:
data.term.head()

0    36
1    60
2    36
3    36
4    60
Name: term, dtype: int32

In [29]:
# last_credit_pull_d - The most recent month XYZ corp. pulled credit for this loan
data.last_credit_pull_d.head()

0    Jan-2016
1    Sep-2013
2    Jan-2016
3    Jan-2015
4    Jan-2016
Name: last_credit_pull_d, dtype: object

In [30]:
# next_pymnt_d - Next scheduled payment date
data.next_pymnt_d.head()

0         NaN
1         NaN
2         NaN
3         NaN
4    Feb-2016
Name: next_pymnt_d, dtype: object

In [31]:
# Dropping Time Variables (Dates) from dataset
date_cols = ['last_credit_pull_d', 'next_pymnt_d']
data.drop(date_cols,inplace = True, axis = 1)

In [32]:
# title - The loan title provided by the borrower
data.title.head()

0                Computer
1                    bike
2    real estate business
3                personel
4                Personal
Name: title, dtype: object

In [34]:
# Dropping title
data.drop('title',inplace = True, axis = 1)

In [36]:
# verification_status - Was the income source verified
data.verification_status.head()

0           Verified
1    Source Verified
2       Not Verified
3    Source Verified
4    Source Verified
Name: verification_status, dtype: object

In [40]:
data.verification_status = data.verification_status.map({'Verified': 'Verified', 'Source Verified': 'Verified', 'Not Verified':'Not Verified'})

In [41]:
data.verification_status.head()

0        Verified
1        Verified
2    Not Verified
3        Verified
4        Verified
Name: verification_status, dtype: object

In [43]:
# application_type - Indicates whether the loan is an individual application or a joint application with two co-borrowers
data.application_type.head()

0    INDIVIDUAL
1    INDIVIDUAL
2    INDIVIDUAL
3    INDIVIDUAL
4    INDIVIDUAL
Name: application_type, dtype: object

In [44]:
data.application_type.value_counts()

INDIVIDUAL    855527
JOINT            442
Name: application_type, dtype: int64

In [46]:
# addr_state - The state provided by the borrower in the loan application
data.addr_state.head()

0    AZ
1    GA
2    IL
3    CA
4    OR
Name: addr_state, dtype: object

In [51]:
print('Total No of values for state : {}'.format(len(data.addr_state.value_counts())))

Total No of values for state : 51

In [52]:
# purpose - A category provided by the borrower for the loan request
data.purpose.head()

0       credit_card
1               car
2    small_business
3             other
4             other
Name: purpose, dtype: object

In [53]:
data.purpose.value_counts()

debt_consolidation    505392
credit_card           200144
home_improvement       49956
other                  40949
major_purchase         16587
small_business          9785
car                     8593
medical                 8193
moving                  5160
vacation                4542
house                   3513
wedding                 2280
renewable_energy         549
educational              326
Name: purpose, dtype: int64

In [54]:
# loan_amnt - The listed amount of the loan applied for by the borrower.
data.loan_amnt.head()

0     5000.0
1     2500.0
2     2400.0
3    10000.0
4     3000.0
Name: loan_amnt, dtype: float64

In [64]:
# home_ownership - The home ownership status provided by the borrower during registratio
data.home_ownership.head()

0    RENT
1    RENT
2    RENT
3    RENT
4    RENT
Name: home_ownership, dtype: object

In [65]:
data.home_ownership.value_counts()

MORTGAGE    429106
RENT        342535
OWN          84136
OTHER          144
NONE            45
ANY              3
Name: home_ownership, dtype: int64

In [66]:
data.home_ownership.isna().sum()

0

In [67]:
# Replacing OTHER , NONE , ANY to Other for Reducing Columns while Dummy Coding
data.home_ownership = data.home_ownership.map({'OTHER':'Other','NONE':'Other','ANY':'Other','MORTGAGE': 'Mortgage', 'RENT': 'Rent', 'OWN':'Own'})

In [68]:
data.home_ownership.value_counts()

Mortgage    429106
Rent        342535
Own          84136
Other          192
Name: home_ownership, dtype: int64

In [70]:
# grade - Assigned loan grade
data.grade.head()

0    B
1    C
2    C
3    C
4    B
Name: grade, dtype: object

In [71]:
# sub_grade - Assigned loan sub_grade
data.sub_grade.head()

0    B2
1    C4
2    C5
3    C1
4    B5
Name: sub_grade, dtype: object

In [72]:
# Grade and Sub_grade are similar kind of factor. In this case Sub_grade can be better parameter to consider into model building process. So, we can remove Grade from dataset.
data.drop('grade',inplace = True, axis = 1)

In [81]:
# delinq_2yrs - The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
data.delinq_2yrs.head()

0    0
1    0
2    0
3    0
4    0
Name: delinq_2yrs, dtype: int32

In [80]:
# Converting Datatype of delinq_2yrs as it is showing numbers
data.delinq_2yrs = data.delinq_2yrs.astype('int32')
data.delinq_2yrs.dtype

dtype('int32')

In [82]:
# Export Data into csv for further Processing
data.to_csv('dataset/significant_vars.csv', index = None)

In [ ]:
# Reading Data
data = pd.read_csv('dataset/significant_vars.csv')

In [ ]:
# funded_amnt - The total amount committed to that loan at that point in time.
data.funded_amnt.head()

In [ ]:
# funded_amnt_inv - The total amount committed by investors for that loan at that point in time.
data.funded_amnt_inv.head()

In [ ]:
# int_rate - Interest Rate on the loan
data.int_rate.head()

In [ ]:
# installment - The monthly payment owed by the borrower if the loan originates.
data.installment.head()

In [ ]:
# annual_inc - The self-reported annual income provided by the borrower during registration.
data.annual_inc.head()

In [ ]:
# issue_d - The month which the loan was funded
data.issue_d.head()

In [ ]:
# pymnt_plan - Indicates if a payment plan has been put in place for the loan
data.pymnt_plan.head()

In [75]:
# dti - A ratio calculated using the borrowerâ€™s total monthly debt payments on the total debt obligations, 
# excluding mortgage and the requested loan, divided by the borrowerâ€™s self-reported monthly income.
data.dti.head()

0    27.65
1     1.00
2     8.72
3    20.00
4    17.94
Name: dti, dtype: float64

In [ ]:
data.earliest_cr_line.head()

In [ ]:
data.inq_last_6mths.head()

In [ ]:
data.open_acc.head()

In [ ]:
data.pub_rec.head()

In [ ]:
data.revol_bal.head()

In [ ]:
data.revol_util.head()

In [ ]:
data.total_acc.head()

In [ ]:
data.out_prncp.head()

In [ ]:
data.out_prncp_inv.head()

In [ ]:
data.total_pymnt.head()

In [ ]:
data.total_pymnt_inv.head()

In [ ]:
data.total_rec_prncp.head()

In [ ]:
data.total_rec_int.head()

In [ ]:
data.collection_recovery_fee.head()

In [ ]:
data.recoveries.head()

In [ ]:
data.last_pymnt_d.head()

In [ ]:
data.last_pymnt_amnt.head()

In [ ]:
data.collections_12_mths_ex_med.head()

In [ ]:
data.acc_now_delinq.head()

In [ ]:
data.tot_coll_amt.head()

In [ ]:
data.tot_cur_bal.head()

In [ ]:
data.total_rev_hi_lim.head()

In [ ]:
data.default_ind.head()

## EDA - Exploratory Data Analysis