<a id='Model_Building'></a>
## Model Building

As this is classification problem. So, we can apply following algorithms.
* Logistic Regression
* Random Forest
* Support Vector Machine
* K Nearest Neighbour

## Train Test Split

We are using 'issue_d' column to divide the data into train and test split.

* Train Data will consists => June 2007 - May 2015
* Test Data will consists => June 2015 - Dec 2015

REF : https://stackoverflow.com/questions/37532098/split-dataframe-into-two-on-the-basis-of-date

In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('dataset/ref_data.csv', index_col = 'issue_d')

In [8]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,...,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,default_ind
issue_d,,,,,,,,,,,,,,,,,,,,,
2007-06-01,7500.0,7500.0,800.0,36 months,13.75,255.43,E2,1,Own,22000.0,...,0.0,0.0,0.0,256.59,0.01,0.0,225.41,139766.25,32163.57,0
2007-07-01,5000.0,5000.0,4150.0,36 months,7.43,155.38,A2,8,Mortgage,150000.0,...,0.0,0.0,0.0,4397.47,0.01,0.0,225.41,139766.25,32163.57,0
2007-07-01,5750.0,5750.0,3675.0,36 months,7.43,178.69,A2,10,Mortgage,125000.0,...,0.0,0.0,0.0,4.74,0.01,0.0,225.41,139766.25,32163.57,0
2007-07-01,5000.0,5000.0,3975.0,36 months,7.43,155.38,A2,6,Rent,40000.0,...,0.0,0.0,0.0,158.65,0.01,0.0,225.41,139766.25,32163.57,0
2007-07-01,1200.0,1200.0,0.0,36 months,11.54,39.60,C5,1,Rent,20000.0,...,0.0,0.0,0.0,39.45,0.01,0.0,225.41,139766.25,32163.57,0

In [9]:
train = df['2007-06-01':'2015-05-1']
test  = df['2015-05-1':]
print('Train Dataset:',train.shape)
print('Test Dataset:',test.shape)

Train Dataset: (598978, 38)
Test Dataset: (256991, 38)

In [ ]:
# Devide Dataset into Train and Test
from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test = train_test_split(x, y, test_size = 0.30, random_state=0)
print("\nx_train ",x_train.shape,"\nx_test ",x_test.shape, "\ny_train ",y_train.shape , "\ny_test ",y_test.shape)

In [ ]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression
logistic_model = LogisticRegression().fit(x_train,y_train)
logistic_predict = logistic_model.predict(x_test)

In [ ]:
# Random Forest
rf_model = RandomForestClassifier(n_estimators = 50, criterion='gini')
rf_model = rf_model.fit(X_train, y_train)
rf_model_predict = rf_model.predict(x_test)

In [ ]:
# SVM - Support Vector Machine
svm_model = svm.SVC(kernel='rbf')
svm_model = svm_model.fit(X_train,y_train)
svm_predict = svm_model.predict(x_test)

In [ ]:
# KNN - K Nearest Neighbour
knn_model = KNeighborsClassifier(n_neighbors=5)
knn_model = knn_model.fit(x_train,y_train)
knn_predict = knn_model.predict(x_test)

In [ ]:
# Choosing a K Value with Elbow method

for i in range(1,30):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(x_train,y_train)
    pred_i = knn.predict(x_test)
    error_rate.append(np.mean(pred_i != y_test))

In [ ]:
plt.figure(figsize=(10,6))
plt.plot(range(1,30),error_rate,color='blue', linestyle='dashed', marker='o', markerfacecolor='red', markersize=10)
plt.title('Error Rate vs. K Value')
plt.xlabel('K')
plt.ylabel('Error Rate')

<a id='Model_Evaluation'></a>
## Model Evaluation

* Confusion Matrix
* Accuracy
* Precision
* Recall
* F1 Score

<a id='conclusion'></a>
## Conclusion

With references of the above models and model evaluations we can say that model is giving the best solution for the given 
problem.